body {
  font-family: 'Papyrus', sans-serif;
  background: #89cff0;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 40px;
  max-width: 700px;
  margin: auto;
}

h1, h2 {
  color: black;
  font-size: 2.5em;
}

form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, button {
  padding: 10px;
  font-size: 1em;
}

button {
  background-color: #b2ac88;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #9e966d;
}

.drive-link {
  display: inline-block;
  margin: 10px 0 20px;
  padding: 10px 15px;
  background-color: #98FF98;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}

.drive-link:hover {
  background-color: #636B2F;
}

.icloud-link {
  display: inline-block;
  margin: 10px 0 20px;
  padding: 10px 15px;
  background-color: #98FF98;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}

.icloud-link:hover {
  background-color: #636B2F;
}

